.padding {
    padding: 30px;
}

.hero {
    display: flex;
    margin: 30px;
    height: 70vh;
    align-items: center
}

.hero_txt {
    width: 40%;
    display: flex;
    align-items: center
}

.hero_img {
    width: 60%;
    padding: 30px;
}

.hero_img img {
    width: 100%;

    border-radius: 20px;
    box-shadow: 15px 15px 40px
}

.info {
    text-align: center;
}

.modules {}

.modules h3,
.modules_txt {
    text-align: center;
}

.modules_cont li {
    position: relative;
    padding: 10px;
}

.modules_cont li::before {
    top: 10px;
    left: -20px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4fc876;
    content: '';
}

.modules_cont li::after {
    top: 20px;
    left: -12px;
    position: absolute;
    width: 5px;
    height: 95%;
    background: #4fc876;
    content: '';
}

.contact {
    display: flex;
    justify-content: center;
}

.contact_cont {
    background: #8fdfa9;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center
}

.contact_cont ul {
    padding: 0;
}

.contact ul li {
    height: 90px;
    margin-top: 10px;
}


.contact p {
    margin: 10px !important;
}

footer {
    text-align: center;
}
