.padding {
    padding: 30px;
}

body {
    overflow-x: hidden !important;
}

ul {
    list-style: none !important;
}

.col-md-9,
.col-md-10,
.col-md-3,
.col-md-6,
.col-md-9 {
    padding: 0 !important;
}

a {
    color: #838590;
    font-size: 20px;
}

a:hover {
    color: #b0b4c7;
    text-decoration: none;
}

.hr {
    background: #838590;
    margin-left: 20px;
    margin-right: 20px;
}

hr {
    background: #838590;
    margin-left: 20px;
    margin-right: 20px;
}

.box__black {
    background: #363740;
    color: rgb(255, 255, 255)38, 89, 89)
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .nav__logo {
    padding: 20px;
}

nav ul {
    padding: 20px;
    font-size: 10px;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul a {
    font-size: 16px;
    padding: 0 10px;
}

.mobile_nav {
    display: none;
}

.hero {
    display: flex;
    margin: 30px;
    height: 70vh;
    align-items: center
}

.hero_txt {
    width: 40%;
    display: flex;
    align-items: center
}

.hero_img {
    width: 60%;
    padding: 30px;
}

.hero_img img {
    width: 100%;

    border-radius: 20px;
    box-shadow: 15px 15px 40px
}

.info {
    display: flex;
}



.info .info_txt {}

.modules {}

.modules h3,
.modules_txt {
    text-align: center;
}

.modules_cont li {
    position: relative;
    padding: 10px;
}

.modules_cont {
    display: flex;
    justify-content: center;
}

.modules_cont li::before {
    top: 10px;
    left: -20px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4fc876;
    content: '';
}

.modules_cont li::after {
    top: 20px;
    left: -12px;
    position: absolute;
    width: 5px;
    height: 95%;
    background: #4fc876;
    content: '';
}

.modules_cont small {
    padding: 0 20px;
    color: #4fc876;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact_cont {
    background: #8fdfa9;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center
}

.contact_cont ul {
    padding: 0;
}

.contact ul li {
    height: 90px;
    margin-top: 10px;
}


.contact p {
    margin: 10px !important;
}

footer {
    text-align: center;
    background: #363740;
    padding: 10px;
    color: white;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 750px) {
    .mobile_nav__active {
        transform: translateX(0%) !important
    }

    .mobile_nav_btn {
        width: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile_nav_btn span {
        width: 100%;
        background: #838590;
        padding: 3px;
        margin: 2px;
        border-radius: 2px;
    }

    .mobile_nav {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .nav__logo {
        display: none;
    }

    nav {
        position: fixed;
        z-index: 1;
        width: 100%;
        top: 90px;
        transition: 0.25s;
        transform: translateX(-150%);
        display: flex;
        justify-content: center;
    }

    nav img {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        align-content: center;
    }

    nav ul a {
        padding: 20px;
    }

    .col-md-3 {
        margin: 20px;
    }

    .hero {
        position: relative;
    }

    .hero_img {
        position: absolute;
        width: 80%;
        top: 60px;
        padding: 20px;
        left: -10px;
    }

    .hero_txt {
        width: 80%;
        position: absolute;
        z-index: 1;
        background: #363740;
        color: white;
        padding: 20px;
        border-radius: 20px;
        top: 200px;
        left: 80px;
    }

    .info img {
        padding: 30px;
        width: 100%;
    }
}
