<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>reception | hagre HMS</title>
    <link rel="stylesheet" href="../src/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../src/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../src/css/style__login.css">
    <link rel="stylesheet" href="../src/css/style__dashboard.css">
</head>

<body>
    <main>
        <div class="dashboard">
            <div class="dashboard__logo">
                <img src="../src/img/hagre.svg" alt="hagre logo">
            </div>
            <div class="dashboard__ul">
                <ul>
                    <li class="active__d">
                        <a href=""><img src="../src/img/icons/overview.svg" alt=""> overview</a>
                    </li>
                    <li>
                        <a href=""><img src="../src/img/icons/search.svg" alt=""> search</a>
                    </li>
                    <li>
                        <a href="">+ add patients</a>
                    </li>
                    <li>
                        <a href=""><img src="../src/img/icons/peoples.svg" alt=""> patients database</a>
                    </li>
                    <li>
                        <a href=""><img src="../src/img/icons/doctor_icon.svg" alt=""> message</a>
                    </li>
                    <br>
                    <hr class="hr">
                    <br>
                    <li>
                        <a href=""><img src="../src/img/icons/settings.svg" alt=""> settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="main__nav">
                <h3>Doctor form</h3>
                <div class="nav__left">
                    <img src="../src/img/icons/search.svg" alt="">
                    <img src="../src/img/icons/message.svg" alt="">
                    <a href="">kirubel | Doctor</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="box box__white">
                        <div class="name row">
                            <i class="fa fa-user col-4"></i>
                            <h5 class="col-8">{{patient.name}}</h5>
                        </div>
                        <div class="info row">
                            <p class="col-sm-6">age : {{patient.age}}</p>
                            <p class="col-sm-6">sex : {{patient.sex}}</p>
                            <p class="col-sm-6">adress : {{patient.adress}}</p>
                            <p class="col-sm-6">city : {{patient.city}}</p>
                            <p class="col-sm-6">phone : {{patient.phone}}</p>
                            <p class="col-sm-6">phone2 : {{patient.phone2}}</p>
                            <p class="col-sm-6">maritalStatus : {{patient.maritalStatus}}</p>
                            <p class="col-sm-6">language : {{patient.language}}</p>
                            <a href='/add_active/{{patient.id}}'>save</a>
                        </div>

                    </div>
                    <br>
                </div>
                <div class="box__white box__padding col-md-3">
                    <ul>
                        <li>
                            <h4>test</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium esse suscipit</p>
                        </li>
                        <hr>
                        <li>
                            <h4>test</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium esse suscipit</p>
                        </li>
                        <hr>
                        <li>
                            <h4>test</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium esse suscipit</p>
                        </li>
                        <hr>
                        <li>
                            <h4>test</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium esse suscipit</p>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </main>



    <script src="../src/lib/jquery/jquery.min.js"></script>
    <script src="../src/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../src/js/index.js"></script>
</body>

</html>
