<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>home | hagre HMS</title>
    <link rel="stylesheet" href="../src/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../src/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../src/css/style__home.css">
</head>

<body>
    <div class="mobile_nav box__padding box__black">
        <div class="nav_logo">
            <img src="../src/img/hagre.svg" alt="hagre logo">
        </div>
        <div class='mobile_nav_btn'>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav class="box__black">
        <div class="nav__logo ">
            <img src="../src/img/hagre.svg" alt="hagre logo">
        </div>
        <div class="nav__ul">
            <ul>
                <a href="/login/">Try it</a>
                <a href="">Contact us</a>
                <a href="#about">About</a>
                <a href="">more products</a>
            </ul>
        </div>
    </nav>
    <div class="hero">
        <div class="hero_txt">
            <div class="cont">
                <h2>take your hospital to the next level !</h2>
                <p>power full, fully customizable, and userfriendly HMS for your hospital.</p>
                <a href="" class="btn btn-outline-success">try it now</a>
            </div>
        </div>
        <div class="hero_img">
            <img src="../src/img/hms1.svg" alt="img">
        </div>
    </div>

    <div class="info padding row">
        <div class="info_img col-md-5">
            <img src="../src/img/patient_record.jpg" alt="">
        </div>
        <div class="info_txt col-md-7" id="about">
            <h3>what is hagre HMS</h3>
            <p>It is a could-based web app used to manage and automate your hospital by giving you many features like an excellent patient record management system, fully customizable doctor form, messaging features for all staff members, and many more modules. We aim to make the hospital management system more ease and accurate in Ethiopia.and its 100% free.</p>
        </div>

    </div>
    <hr>
    <div class="modules padding">

        <h3>There are many modules in hagre hms</h3>
        <p class="modules_txt">we are working 24/7 to make this system more useful and to add more features.</p>
        <ul class="modules_cont">
            <div>
                <li class="module">
                    <h4>patients record management system </h4>
                    <p>you can store patient data in a highly organized database and it is easy to read the update and delete.</p>
                </li>
                <li class="module">
                    <h4>customizable doctor page.</h4>
                    <p>you can customize your doctor page to add more accuracy and to become super fast in your working environment.</p>
                </li>
                <li class="module">
                    <h4>messaging app<small>soon</small></h4>
                    <p>a messaging app to chat with your all staff members</p>
                </li>
                <li class="module">
                    <h4>scheduling app<small>soon</small></h4>
                    <p>scheduling is the main part of all modern hms because it helps to manage your time and also increases the patient's satisfaction.</p>
                </li>
                <li class="module">
                    <h4>blood bank management system<small>soon</small></h4>
                    <p>you can manage your blood bank using a simple and easy UI dashboard.</p>
                </li>
                <li class="module">
                    <h4>admin dashboard <small>soon</small> </h4>
                    <p>as an admin, you will have full access to the software and accounts.</p>
                </li>
            </div>
        </ul>
    </div>
    <div class="contact padding">
        <div class="contact_cont">
            <h4>Contact us</h4>
            <ul class="">
                <li>
                    <span>Phone</span>
                    <p><a href="">
                            <p>+251-963226628</p>
                        </a>
                    </p>
                </li>
                <li>
                    <span>Email</span>
                    <p>kiztopia.2020@gmail.com</p>
                </li>
                <li>
                    <span>Telegram</span>
                    <p>
                        <a href="">
                            <p>+251-963226628</p>
                        </a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <img src="" alt="">
    <footer class="">
        <p>copyright 2020 hagre technologies</p>
    </footer>




    <script src="../src/lib/jquery/jquery.min.js"></script>
    <script src="../src/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../src/js/index.js"></script>
</body>

</html>
