<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>reception | hagre HMS</title>
    <link rel="stylesheet" href="../src/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../src/lib/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <main>
        <nav></nav>
        <div class="hero">
            <div class="hero txt">
                <h2>Lorem ipsum !</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet illum, nobis quae corporis totam pariatur</p>
                <a href="" class="btn btn-outline-success">try it now</a>
            </div>
            <div class="hero_img">
                <img src="../src/img/hms1.svg" alt="img">
            </div>
        </div>
        <div class="info">
            <h3>what is hagre hms</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora excepturi ab eos quas, mollitia veniam laborum eaque harum saepe quisquam, similique, eligendi ea</p>
        </div>
        <div class="modules">
            <h3>There are many modules in hagre hms</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fugit dignissimos</p>
            <ul class="modules">
                <li class="module">
                    <h4>patients management system</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consequatur dolor impedit incidunt, assumenda dicta unde ipsam est earum sequi? Ullam</p>
                </li>
                <li class="module">
                    <h4>patients management system</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consequatur dolor impedit incidunt, assumenda dicta unde ipsam est earum sequi? Ullam</p>
                </li>
                <li class="module">
                    <h4>patients management system</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consequatur dolor impedit incidunt, assumenda dicta unde ipsam est earum sequi? Ullam</p>
                </li>
                <li class="module">
                    <h4>patients management system</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consequatur dolor impedit incidunt, assumenda dicta unde ipsam est earum sequi? Ullam</p>
                </li>
            </ul>
        </div>
        <div class="footer">
            <p>copyright 2020 hagre</p>
        </div>
    </main>



    <script src="../src/lib/jquery/jquery.min.js"></script>
    <script src="../src/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../src/js/index.js"></script>
</body>

</html>
