<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>reception | hagre HMS</title>
    <link rel="stylesheet" href="../src/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../src/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../src/css/style__dashboard.css">
    <link rel="stylesheet" href="../src/css/style__home.css">
</head>

<body>
    <nav class="box__black">
        <div class="nav__logo ">
            <img src="../src/img/hagre.svg" alt="hagre logo">
        </div>
        <div class="nav__ul">
            <ul>
                <a href="/login/">Login</a>
                <a href="">Contact us</a>
                <a href="">About</a>
                <a href="">more products</a>
            </ul>
        </div>
    </nav>
    <div class="hero">
        <div class="hero_txt">
            <div class="cont">
                <h2>Lorem ipsum !</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet illum, nobis quae corporis totam pariatur</p>
                <a href="" class="btn btn-outline-success">try it now</a>
            </div>
        </div>
        <div class="hero_img">
            <img src="../src/img/hms1.svg" alt="img">
        </div>
    </div>

    <div class="info padding row">
        <div class="info_img col-md-5">
            <img src="../src/img/patient_record.jpg" alt="">
        </div>
        <div class="info_txt col-md-7">
            <h3>what is hagre hms</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora excepturi ab eos quas, mollitia veniam laborum eaque harum saepe quisquam, similique, eligendi ea</p>
        </div>

    </div>
    <hr>
    <div class="modules padding">
        <h3>There are many modules in hagre hms</h3>
        <p class="modules_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fugit dignissimos</p>
        <ul class="modules_cont">
            <li class="module">
                <h4>patients management system</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consequatur dolor impedit incidunt, assumenda dicta unde ipsam est earum sequi? Ullam</p>
            </li>
            <li class="module">
                <h4>patients management system</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consequatur dolor impedit incidunt, assumenda dicta unde ipsam est earum sequi? Ullam</p>
            </li>
            <li class="module">
                <h4>patients management system</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consequatur dolor impedit incidunt, assumenda dicta unde ipsam est earum sequi? Ullam</p>
            </li>
            <li class="module">
                <h4>patients management system</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consequatur dolor impedit incidunt, assumenda dicta unde ipsam est earum sequi? Ullam</p>
            </li>
            <li class="module">
                <h4>patients management system</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consequatur dolor impedit incidunt, assumenda dicta unde ipsam est earum sequi? Ullam</p>
            </li>
            <li class="module">
                <h4>patients management system</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consequatur dolor impedit incidunt, assumenda dicta unde ipsam est earum sequi? Ullam</p>
            </li>
        </ul>
    </div>
    <div class="contact padding">
        <div class="contact_cont">
            <h4>Contact us</h4>
            <ul class="">
                <li>
                    <span>Phone</span>
                    <p>+251-963226628</p>
                </li>
                <li>
                    <span>Email</span>
                    <p>kiztopiea.2020@gmail.com</p>
                </li>
                <li>
                    <span>Telegram</span>
                    <p><a href="">Hage tech</a></p>
                </li>
            </ul>
        </div>
    </div>
    <img src="" alt="">
    <footer>
        <p>copyright 2020 hagre</p>
    </footer>




    <script src="../src/lib/jquery/jquery.min.js"></script>
    <script src="../src/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../src/js/index.js"></script>
</body>

</html>
